@import "../../styles/theme.scss";
#container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: row;
  padding-right: 20px;
  justify-content: space-between;
}
#sosile,
#search {
  //   display: table-cell;
  //   height: 100%;
  font-size: 1.4em;
}

#sosile {
  display: flex;
  align-items: center;
  #logo {
    margin: 0;
    content: "";
    height: 50px;
    width: 50px;
    border-radius: 18px;
    background-color: $themeGreen;
  }

  #name {
    margin-left: 10px;
    color: $themeFg;
    font-weight: bold;
  }
}

#right {
  float: right;
  // width: 300px;
  // background-color: red;
  display: flex;
  justify-content: center;
  .searchBar {
    // height: 100%;
    // background-color: blue;
    border: 1px solid $themeBgShade;
    border-radius: 18px;
    border-top-right-radius: 18px;
    border-top-left-radius: 18px;
    background-color: $themeBg;
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    opacity: 0.9;
    justify-content: center;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    width: 332px;
    transition: 0.15s;
    #searchBarInput {
      color: $themeFg;
      width: 100%;
      font-size: 0.9em;
    }
    #searchBarResult {
      // opacity: 0;
      position: absolute;
      background-color: $themeBgAlt;
      min-height: 50px;
      border-bottom-left-radius: 18px;
      border-bottom-right-radius: 18px;
      width: 332px;
      top: 100%;
      // transition: 0.3s;
      .searchBarResultItem {
        padding: 20px;
      }
    }
  }

  .searchBarActive {
    background-color: $themeBgAlt;
    // width: 323px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    transition: 0.15s;
    // #searchBarInput {
    // border-bottom: 1px solid black;
    // }
    #searchBarResult {
      transition: 0.3s;
      opacity: 0;
      animation: searchBarFade 0.15s forwards 0.05s ease-out;
      border: 1px solid $themeBgShade;
    }
  }

  @keyframes searchBarFade {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}
