.container {
  display: grid;
  border: 1px solid blue;
}

.postBottom {
  background-color: #191919;
  height: 50px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.postMiddle {
  display: flex;
}

.postTop {
  background-color: #000000;
  display: flex;
  flex-flow: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  height: 50px;
  align-content: center;
  .postUsername {
    font-size: 1.5em;
  }
  .postTime {
    font-size: 1.2em;
  }
}

.postFollowerCount {
  font-size: 0.7em;
}
