@import "../../styles/theme.scss";

$containerRadius: 18px;

.container {
  border-radius: $containerRadius;
  // margin-bottom: 20px;
  margin: 20px;
  color: $themeFg;
  display: grid;
  transition: all 0.15s;
  height: auto;
  // padding-left: 50px;
  // padding-right: 50px;
  padding-top: 0;
  // border:1px solid red;
  box-shadow: 0px 0px 10px -6px $themeFg;
  border: 1px solid $themeBgSelection;
  // cursor: pointer;
  * {
    z-index: 3;
  }
  position: relative;
}

.postTop,
.postMiddle,
.postBottom {
  // margin-top: 0px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: $themeBgAlt;
  z-index: 3;
}
.postTop {
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
  padding-top: 20px;
  padding-bottom: 10px;
}

.postUserImage {
  width: 60px;
  background-color: $themeBlue;
  border-radius: 18px;
  margin-right: 5px;
  cursor: pointer;
  height: 60px;
}

.postBottom {
  background-color: $themeBgAlt;
  border-bottom-right-radius: $containerRadius;
  border-bottom-left-radius: $containerRadius;
  color: $themeFg;
  height: 50px;
  // border-top: 1px solid $themeBlue;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  .postBottomComments {
    color: $themeFgInactive;
    cursor: pointer;
    user-select: none;
  }
  .postBottomExpand,
  .postBottomShare,
  .postBottomComments,
  .postBottomLikes {
    color: $themeFgInactive;
    height: 100%;
    cursor: pointer;
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
  }
  .postLiked {
    color: red;
  }
}

.postMiddle {
  display: flex;
}

.postTop {
  // background-color: #000000;
  display: flex;
  flex-flow: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  height: 90px;
  align-content: center;
  position: relative;
  .postTrashCan {
    position: absolute;
    // top: 20px;
    right: 20px;
    // height: 100%;
    color: $themeRed;
    background-color: $themeRed;
    padding: 5px;
    border-radius: 12px;
    box-sizing: border-box;
  }
}

.postUserNest {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  // .postDisplayName,
  // .postUsername,
  // .postTime {
  //   line-height: 70px;
  //   height: 70px;
  // }
  .postDisplayName {
    font-size: 1.2em;
  }
  .postFollowerCount {
    color: $themeFgInactive;
  }
  .postUsername {
    color: $themeFgInactive;
  }
  .postUserSeperator {
    padding-left: 5px;
    padding-right: 5px;
    color: $themeFgInactive;
  }
  .postTime {
    font-size: 0.8em;
    color: $themeFgInactive;
  }
}

.postDeleteContainer {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  width: 100%;
  height: 100%;
  display: flex;
  padding-top: 20px;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  font-size: 1.3em;
  cursor: auto;
  .postDeleteHeader {
  }
  .postDeleteButtonYes,
  .postDeleteButtonNo {
    border: none;
    margin: 10px;
    padding: 5px;
  }
  .postDeleteButtonYes {
    background-color: $themeRed;
    // background-color: transparent;
    border: 1px solid $themeRed;
    color: $themeBgAlt;
    cursor: pointer;
  }
  .postDeleteButtonNo {
    background-color: #{$themeFgInactive}88;
    color: $themeBgAlt;
    cursor: pointer;
  }
}

.postShareContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-size: 1em;
  // height: 0;
  max-height: 0;
  cursor: auto;
  z-index: 2;
  animation: SlideIn 0.3s forwards 0s ease-out;
  .postShareWrapper {
    // height: 100%;
    // border-top: 1px solid red;
    justify-content: space-between;
    padding: 20px;
    width: 100%;
    display: flex;
    // position: relative;
    .postShareClose {
      // position: absolute;
      cursor: pointer;
      top: 20px;
      right: 20px;
    }
  }
}

@keyframes SlideIn {
  from {
    max-height: 0;
  }
  to {
    max-height: 100px;
  }
}
