.container {
  // height: 500px;
  width: calc(100% - 40px);
  margin-top: -20px;
  margin-left: 20px;
  margin-right: 20px;
  border-bottom-left-radius: 18px;
  border-bottom-right-radius: 18px;
  background-color: #494949;
  color: white;
  padding: 20px;
}

.hi {
  // width: 100%;
  height: 150px;
  padding: 20px;
  border-radius: 18px;
  background-color: #626262;
  margin: 20px;
}
