@import "../../styles/theme.scss";
.container {
  width: 100%;
  border-bottom-left-radius: 18px;
  border-bottom-right-radius: 18px;
}

.top {
  padding: 20px;
  .topUser {
    .topUserImage {
      height: 60px;
      width: 60px;
      background-color: $themeBlue;
      border-radius: 18px;
    }
  }
}

.hi {
  height: 150px;
  padding: 20px;
  border-radius: 18px;
  background-color: #626262;
  color: $themeBgAlt;
  margin: 20px;
  max-height: 0;
  animation: SlideIn 0.3s forwards 0s ease-out;
}

@keyframes SlideIn {
  from {
    max-height: 0;
  }
  to {
    max-height: 150px;
  }
}
