@import "../theme.scss";
#container{
  background-color: $themeBg;
  background-color: $themeBg;
  color: $themeFg;
  color: white;
  width: 100%;
  height: 100%;
}

// Temp
#postContainer{
  background-color: $themeBg;
  color: $themeFg;
  color: white;
}

.post{
  height: 200px;
  margin: 10px;
  background-color: $themeBg;
  color: $themeFg;
}
