@import "../theme.scss";
#container {
  background-color: $themeBg;
  background-color: $themeBg;
  color: $themeFg;
  height: 100%;
}

// Temp
#postContainer {
  background-color: $themeBg;
  color: $themeFg;
}
