@import "../theme.scss";
$topHeight: 75px;
$navWidth: 80px;

#root {
  background-color: $themeBg;
  color: $themeFg;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  main {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 2000px;
  }
}

#container {
  display: grid;
  height: $topHeight;
  width: 100%;
  position: fixed;
  // border: 2px solid black;
  // overflow: hidden;
  grid-template-rows: $topHeight auto;
  // position:fixed;
  // background-color:$themeBg;
  // color: $themeFg;
  grid-template-columns: $navWidth auto;
  grid-template-areas:
    "top top"
    "nav free";
  // "nav free";
  max-width: 2000px;
  box-sizing: border-box !important;
  // border: 1px solid $themeRed;
}

#child {
  width: 100% !important;
  margin-left: $navWidth;
  margin-top: $topHeight;
}

#top {
  position: relative;
  background-color: $themeBg;
  padding-left: 20px;
  paddinr-right: 20px;
  // border: 1px solid red;
  grid-area: top;
}

#nav {
  // border: 1px solid red;
  background-color: $themeBg;
  grid-area: nav;
  position: absolute;
  height: calc(100vh - #{$topHeight});
  // width: $navWidth;
}
