@import "../../styles/theme.scss";
@import "../../styles/layout/layout.module.scss";
#root {
  height: 100%;
  display: flex;
  // border-right: 1px solid black;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

#center {
  // width: 100%;
  // margin-top: -$topHeight;
}

#end {
  position: absolute;
  bottom: 0;
  #logout {
    color: $themeRed;
    cursor: pointer;
    padding-bottom: 10px;
  }
}

.navButton {
  // background-color: #090909;
  // border: 2px solid #181818;
  border-left: 0px;
  height: 48px;
  display: flex;
  align-items: center;
  // border-top-right-radius: 12px;
  // border-bottom-right-radius: 12px;
  border-radius: 18px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 10px;
  color: $themeFgInactive;
  padding-right: 10px;
  margin-left: 10px;
  margin-right: 10px;
  transition: 1s;
}

.navButtonActive {
  transition: 1s;
  // background-color: $themeBg;
  // filter: brightness(200%);
  color: $themeRed;
  // font-weight: bold;
}

.navButton:hover {
  // background-color: $themeBg;
  filter: brightness(200%);
  color: $themeFg;
  cursor: pointer;
}
