@import "../../../styles/theme.scss";
#root {
  min-height: calc(100% - 20px);
  border-radius: 18px;
  // height: auto;
}

#header {
  // border-top-left-radius: 20px;
  // border-top-right-radius: 20px;
  border-radius: 18px;
  width: 100%;
  height: 500px;
  color: $themeFg;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: flex-end;
  // box-shadow: 0px 8px 12px -6px $themeFg;
  // box-shadow: 0px 0px 4px 0px $themeFg;
  #headerImg {
    border-radius: 18px;
    position: absolute;
    background-color: $themeGreen;
    height: 100%;
    width: 100%;
    z-index: 1;
  }
  #headerUser {
    position: relative;
    padding: 20px;
    border-bottom-right-radius: 18px;
    border-bottom-left-radius: 18px;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.6);
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 70px auto;
    grid-template-areas:
      "Img User"
      "Img Bio";
    width: 100%;
    #headerUserImg {
      border-radius: 18px;
      width: 60px;
      height: 60px;
      background-color: $themeGreen;
      grid-area: Img;
    }
    #headerUserName {
      grid-area: User;
      display: flex;
      align-items: flex-start;
      font-size: 1.3em;
      #headerUserSeperator {
        color: $themeFgInactive;
        padding-left: 10px;
        padding-right: 10px;
      }
      #headerUserUsername {
        color: $themeFgInactive;
      }
      #headerUserDisplayName {
        font-weight: bold;
      }
    }
    #headerUserButton {
      position: absolute;
      top: 20px;
      bottom: 20px;
      right: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 18px;
      // background-color: rgba($themeRed, 1);
      padding-left: 20px;
      padding-right: 20px;
      #headerUserButtonFollow {
        font-weight: bolder;
        // background-color: black;
        // height: 100%;
        // padding-left: 20px;
        // padding-right: 20px;
      }
    }
    #headerUserBio {
    }
  }
}

#selection {
  display: grid;
  grid-template-columns: calc(100% / 3) calc(100% / 3) calc(100% / 3);
  margin-top: 18px;
  height: 50px;
  background-color: $themeBgShade;
  color: $themeFg;
  border-radius: 18px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  .selectionFlex {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3em;
  }
  #selectionPosts,
  #selectionReplies,
  #selectionLikes {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  #selectionPosts {
    align-content: center;
    float: left;
    // font-size: 1.3em;
  }
  #selectionReplies {
    display: inline;
  }
  #selectionLikes {
    float: right;
  }
}

#postWrapper {
  // padding:20px 20px 20px 20px;
  padding-top: 1px;
  padding-bottom: 1px;
  border-bottom-left-radius: 18px;
  border-bottom-right-radius: 18px;
  background-color: $themeBgShade;
}
