$themeBg: #1f003d; // 40,20,85
$themeBgAlt: #240047;
$themeBgShade: #0e132a;
$themeBgAltAlt: #1a224d;
$themeBgSelection: #202a60;
$themeBase: #7082db;
$themeComment: #3d4b8f;
$themeBgLight: #dee0ed;
$themeFg: #ffffff;
$themeFgLight: #dee0ed;
$themeRed: #db7070;
$themeOrange: #eb8b47;
$themeYellow: #dbc970;
$themeGreen: #82db70;
$themeCyan: #70dba6;
$themeBlue: #70c9db;
$themePurple: #9470db;

$themeBgInverted: #e0dbd1; // 40,20,85
$themeBgShadeInverted: #0e132a;
$themeBgAltInverted: #131939;
$themeBgAltAltInverted: #1a224d;
$themeBgSelectionInverted: #202a60;
$themeBaseInverted: #7082db;
$themeCommentInverted: #3d4b8f;
$themeBgLightInverted: #dee0ed;
$themeFgInverted: #acb3d2;
$themeFgLightInverted: #dee0ed;
$themeRedInverted: #db7070;
$themeOrangeInverted: #eb8b47;
$themeYellowInverted: #dbc970;
$themeGreenInverted: #82db70;
$themeCyanInverted: #70dba6;
$themeBlueInverted: #70c9db;
$themePurpleInverted: #9470db;
