$themeBg: #1F003D; // 40,20,85
$themeBgAlt: #240047;
$themeBgShade: #0E132A;
$themeBgAltAlt: #1A224D;
$themeBgSelection: #202A60;
$themeBase: #7082DB;
$themeComment: #3D4B8F;
$themeBgLight: #DEE0ED;
$themeFg: #FFFFFF;
$themeFgLight: #DEE0ED;
$themeRed: #DB7070;
$themeOrange: #EB8B47;
$themeYellow: #DBC970;
$themeGreen: #82DB70;
$themeCyan: #70DBA6;
$themeBlue: #70C9DB;
$themePurple: #9470DB;

$themeBgInverted: #E0DBD1; // 40,20,85
$themeBgShadeInverted: #0E132A;
$themeBgAltInverted: #131939;
$themeBgAltAltInverted: #1A224D;
$themeBgSelectionInverted: #202A60;
$themeBaseInverted: #7082DB;
$themeCommentInverted: #3D4B8F;
$themeBgLightInverted: #DEE0ED;
$themeFgInverted: #ACB3D2;
$themeFgLightInverted: #DEE0ED;
$themeRedInverted: #DB7070;
$themeOrangeInverted: #EB8B47;
$themeYellowInverted: #DBC970;
$themeGreenInverted: #82DB70;
$themeCyanInverted: #70DBA6;
$themeBlueInverted: #70C9DB;
$themePurpleInverted: #9470DB;
